@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kasper Tindbæk was here</h1>
 <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSi3EDeksQzQdGNyeHLB52X3vjBKT7Kyp_LA&s" 
             alt="Norlys Logo" 
             style="max-width:300px; height:auto; margin-top:20px;" />
    </div>

    <div>Host operating system: @Model.OSVersion</div>
</div>
